## Q1. 평균 점수 구하기

홍길동 씨의 과목 별 점수는 {국어:80, 영어:75, 수학:55} 이다.
평균 점수는???

In [5]:
a = 80
b = 75
c = 55
(a+b+c)/3

70.0

## Q2. 홀수 짝수 판별
자연수 13이 홀수인지 짝수인지 판별

In [7]:
13 % 2 # 2로 나눴을 때 나머지 1 이므로 홀수~

1

## Q3. 주민등록번호 나누기
홍길동씨의 주민등록번호는 881120-1068234이다.
홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.

In [15]:
pin = "881120-1068234"

In [16]:
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

## Q4. 주민등록번호 인덱싱
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해보자.

In [17]:
pin = "881120-1068234"
print(pin[7])

1

## Q5. 문자열 바꾸기
다음과 같은 문자열 a:b:c:d 가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d 로 바꿔서 출력해 보
자

In [20]:
a = "a:b:c:d"

In [21]:
a.replace(":","#")

'a#b#c#d'

## Q6. 리스트 역순 정렬하기
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1] 로 만들어 보자.

In [42]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## Q7. 리스트를 문자열로 만들기
[‘Life’, ‘is’, ‘too’, ‘short’] 리스트를 Life is too short 문자열로 만들어 출력해 보자

In [49]:
' '.join(['Life','is','too','short'])

'Life is too short'

## Q8. 튜플 더하기
(1,2,3) 튜플에 값 4 를 추가하여 (1,2,3,4) 를 만들어 출력해 보자.

In [57]:
t1 = (1,2,3)
t2 = (4,) #(,) 반드시! 붙일 것!
t3 = t1+t2
print(t3)

(1, 2, 3, 4)

## Q9. 딕셔너리의 키
다음과 같은 딕셔너리 a 가 있다.

In [58]:
a = dict()
a

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [59]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

list값은 변하는 값(mutable)이므로 Key로 쓸 수 없다.

## Q10. 딕셔너리 POP
딕셔너리 a 에서’B’ 에 해당되는 값을 추출해 보자

In [60]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

## Q11. 리스트에서 중복 제거하기
a 리스트에서 중복 숫자를 제거해 보자.

In [62]:
a =  [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

## Q12. 파이썬 변수
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a 의
두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [63]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

a 와 b는 똑같은 주소값을 가지므로 객체가 변경되면 같이 변경된다.