## abs

abs(x)는 그 숫자의 절댓값을 리턴하는 함수

In [3]:
abs(2)

2

In [2]:
abs(-2)

2

## all

all(x)는 반복 가능한(iterable) 데이터x를 입력 값으로 받으며 이 x의 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False를 리턴한다.

In [5]:
all([1,2,3])

True

In [6]:
all([1,2,3,0])

# 요소 0은 거짓이므로 False 리턴

False

In [7]:
all([])

# all의 입력 인수가 빈 값인 경우에는 True를 리턴

True

## any

any(x)는 반복 가능한(iterable) 데이터x를 입력 값으로 받으며 이 x의 요소 중 하나라도 참이 있으면 True,x가 모두 거짓일 때에만 False를 리턴한다

In [8]:
any([1,2,3,4,0])

True

In [10]:
any([0, ""])

False

In [12]:
any([])

# any의 입력 인수가 빈 값인 경우에는 False 리턴

False

## chr

chr(i)는 유니코드 숫자값을 입력받아 그 코드에 해당하는 문자를 리턴하는 함수이다.

In [14]:
chr(97)

'a'

In [15]:
chr(44032)

'가'

In [18]:
chr(54032)

'판'

## dir

dir은 객체가 지닌 변수나 함수를 보여 주는 함수이다.

In [19]:
dir([1,2,3])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
dir({'1':'a'})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## divmod

divmod(a,b)는 2개의 숫자를 입력으로 받는다, 그리고 a를 b로 나눈 몫과 나머지를 튜플로 리턴하는 함수이다.

In [21]:
divmod(9,2)

(4, 1)

In [22]:
9//2

4

In [23]:
9%2

1

## enumerate

enumerate는 "열거하다"라는 뜻이다. 이 함수는 순서가 있는 데이터 (리스트,튜플,문자열)를 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴한다.

보통 enumerate함수는 for문과 함께 사용

In [24]:
for i, name in enumerate(['body','foo','bar']):
    print(i, name)

0 body
1 foo
2 bar

## eval

eval(expression)은 문자열로 구성된 표현식을 입력으로 받아 해당 문자열을 실행한 결괏값을 리턴하는 함수

In [26]:
eval('1+2')

3

In [27]:
eval("'hi'+'a'")

'hia'

In [29]:
eval('divmod(4,3)')

(1, 1)

## filter

filter(func,iterable) 
filter 함수는 첫 번째 인수로 함수를, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 데이터를 받는다. 그리고 반복 가능한 데이터(iterable)의 요소 순서대로 함수(func)를 호출했을 때 반환 값이 참인 것만 묶어서(걸러내서)리턴한다

In [30]:
# 리스트를 입력으로 받아 각각의 요소를 판별하여 양수 값만 리턴하는 함수

def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result

print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [31]:
# filter함수 사용

def positive(x):
    return x > 0

print(list(filter(positive, [1,-3,2,0,-5,6])))

[1, 2, 6]

In [32]:
# lambda 사용

list(filter(lambda x: x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

## hex

hex(x)는 정수를 입력받아 16진수(hexadecimal)문자열로 변환하여 리턴하는 함수

In [33]:
hex(234)

'0xea'

In [34]:
hex(3)

'0x3'

## id

id(object)는 객체를 입력받아 객체의 고유 주소 값(레퍼런스)을 리턴하는 함수이다.

In [35]:
a = 3

In [36]:
id(3)

2356073490800

In [37]:
id(a)

2356073490800

In [38]:
b = a

In [39]:
id(b)

2356073490800

3,a,b 모두 같은 객체를 가리키고 있음 주소값 같다.

## input

input([prompt])은 사용자 입력을 받는 함수이다. 입력 인수로 문자열을 전달하면 그 문자열은 프롬프트가 된다.

In [40]:
a = input()

hi

In [41]:
b = input("Enter: ")

Enter: hi

## int

int(x)는 문자열 형태의 숫자나 소수점이 있는 숫자를 정수로 리턴하는 함수이다.

In [42]:
int('3')

3

In [43]:
int(3.4123)

3

int(x, radix)는 radix 진수로 표현된 문자열x를 10진수로 변환하여 리턴한다. 예를 들어 2진수로 표현된 11의 10진수 값은 다음과 같이 구할 수 있다.

In [44]:
int('11',2)

3

In [45]:
# 16진수
int('1A',16)

26

## isinstance


isinstance(object,class)함수는 첫 번째 인수로 객체, 두 번째 인수로 클래스를 받는다. 입력으로 받은 객체가 그 클래스의 인스턴스인지를 판단하여 참이면 True, 거짓이면 False를 리턴한다.

In [46]:
class Person: pass

In [47]:
a = Person()
isinstance(a, Person)

True

In [48]:
b = 3
isinstance(b, Person)

False

## len

len(s)은 입력값 s의 길이(요소의 전체 개수)를 리턴하는 함수이다.

In [49]:
len("python")

6

In [50]:
len([1,2,3])

3

In [52]:
len((1,'a'))

2

## list

list(iterable)는 반복 가능한 데이터(iterable)를 입력받아 리스트롤 만들어 리턴하는 함수이다.

In [53]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [54]:
list((1,2,3))

[1, 2, 3]

In [55]:
a = [1,2,3]
b = list(a)
print(b)

[1, 2, 3]

## map

map(f,iterable)은 함수(f)와 반복 가능한 데이터를 입력으로 받는다. map함수는 입력받은 데이터의 각 요소에 함수f를 적용한 결과를 리턴하는 함수이다.

In [57]:
# 입력의 2배를 출력

def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [58]:
# map 함수 사용
def two_times(x):
    return x*2

list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [61]:
# lambda 사용

list(map(lambda a: a*2, [1,2,3,4]))

[2, 4, 6, 8]

## max

max(iterable)함수는 인수로 반복 가능한 데이터를 입력받아 그 최댓값을 리턴하는 함수이다.

In [62]:
max([1,2,3,4])

4

In [64]:
max("python")

'y'

In [65]:
max("가나다")

'다'

## min

min(iterable)함수는 max함수와 반대로 최솟값을 리턴하는 함수

In [66]:
min([1,2,3,4])

1

In [67]:
min("python")

'h'

In [68]:
min("가나다")

'가'

## oct

oct(x)는 정수를 8진수 문자열로 바꾸어 리턴하는 함수이다.

In [69]:
oct(34)

'0o42'

In [70]:
oct(12345)

'0o30071'

## open

opne(filename,[mode])은 "파일 이름"과 "읽기 방법"을 입력받아 파일 객체를 리턴하는 함수이다. 읽기 방법(mode)를 생략하면 기본값인 읽기모드(r)로 파일 객체를 만들어 리턴한다.

| mode | 설명                                        |
|------|---------------------------------------------|
|  w   | 쓰기 모드로 파일 열기                       |
| r    | 읽기 모드로 파일 열기                       |
| a | 추가 모드로 파일 열기 |
| b | 바이너리 모드로 파일 열기 |

b는 w,r,a와 함께 사용한다.

## range

range([start],stop,[step])는 for문과 함께 자주 사용하는 함수이다.
이 함수는 입력받은 숫자에 해당하는 범위 값을 반복 가능한 개게로 만들어 리턴한다.

#### 인수가 하나일 경우
시작 숫자를 정해주지 않으면 range함수는 0 부터 시작한다.

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

#### 인수가 2개일 경우

입력으로 주어지는 2개의 인수는 시작 숫자와 끝 숫자를 나타낸다. 단, 끝 숫자는 해당 범위에 포함되지 않는다.

In [73]:
list(range(5,10))

[5, 6, 7, 8, 9]

#### 인수가 3개일 경우

세번째 인수는 숫자 사이의 거리를 말한다.

In [74]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [76]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

##  round

round(number[, ndigits])함수는 숫자를 입력받아 반올림해 리턴하는 함수

In [77]:
round(4.6)

5

In [78]:
round(4.2)

4

다음과 같이 실수 5.678을 소수점 2자리까지만 반올림하여 표시할 수 있다.

In [79]:
round(5.678, 2)

5.68

## sorted

sorted(iterable)함수는 입력 데이터를 정렬한 후 그 결과를 리스트로 리턴하는 함수

In [80]:
sorted([3,1,2])

[1, 2, 3]

In [81]:
sorted(['b','f','a','c','e'])

['a', 'b', 'c', 'e', 'f']

In [82]:
sorted("zero")

['e', 'o', 'r', 'z']

In [83]:
sorted((3,2,1))

[1, 2, 3]

## str
str(object)은 문자열 형태로 객체를 변환하여 리턴하는 함수

In [84]:
str(3)

'3'

In [85]:
str('hi')

'hi'

In [87]:
str(3.45)

'3.45'

## sum

sum(iterable)함수는 입력 데이터의 합을 리턴하는 함수

In [88]:
sum((1,2,3))

6

In [89]:
sum([4,5,6])

15

## tuple

tuple(iterable)은 반복 가능한 데이터를 튜플로 바꾸어 리턴하는 함수

In [90]:
tuple("abc")

('a', 'b', 'c')

In [91]:
tuple([1,2,3])

(1, 2, 3)

In [92]:
tuple((1, ))

(1,)

## type

type(object)은 입력값의 자료형이 무엇인지 알려주는 함수

In [93]:
type("abc")

str

In [94]:
type([ ])

list

In [95]:
type(open("test","w"))

_io.TextIOWrapper

## zip

zip(*iterable)은 동일한 개수로 이루어진 데이터들을 묶어서 리턴하는 함수

In [97]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [98]:
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [99]:
list(zip("abc","def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]