## Q1. UpgradeCalculator

minus 메서드 추가

In [1]:
class UpgradeCalculator:
    def __init__(self):
        self.value = 0
        
    def add(self,val):
        self.value += val
        
    def minus(self,val):
        self.value -= val

In [2]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

In [3]:
print(cal.value)

3

## Q2. MaxLimitCalculator

객체변수 value 가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자.

In [2]:
class MaxLimitCalculator:
    def __init__(self):
        self.value = 0
        
    def add(self,val):
        self.value += val
        if self.value > 100:
            self.value = 100

In [3]:
cal = MaxLimitCalculator()
cal.add(60)
cal.add(50)

print(cal.value)

100

## Q3. 참과 거짓 예측하기

In [2]:
# 거짓 0은 거짓이므로 하나라도 거짓이면 False 출력

all([1,2, abs(-3)-3])

False

In [3]:
# ord는 유니코드 출력. 그러므로 True 출력

chr(ord('a')) == 'a'

True

In [4]:
ord('a')

97

## Q4. 음수 제거하기

filter 와 lambda 를 사용하여 리스트 [1, ‑2, 3, ‑5, 8, ‑3] 에서 음수를 모두 제거해 보자

In [7]:
list(filter(lambda x: x>0,[1,-2,3,-5,8,-3]))

[1, 3, 8]

## Q5. 16진수를 10진수로 변경하기

In [8]:
hex(234)

'0xea'

In [9]:
int(0Xea)

234

## Q6. 리스트 항목마다 3 곱하여 리턴하기 
map 과 lambda 를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3 이 곱해진 리스트 [3, 6, 9, 12] 를 만들어
보자

In [1]:
list(map(lambda a: a*3, [1,2,3,4]))

[3, 6, 9, 12]

## Q7. 최댓값과 최솟값의 합

In [2]:
a = [-8,2,7,5,-3,5,0,1]

max(a)+min(a)

-1

## Q8. 소수점 반올림하기

17/3을 소숫점 4자리까지만 반올림하여 표시해 보자

In [3]:
round(17/3, 4)

5.6667

## Q9. 디렉터리 이동하고 파일 목록 출력하기
os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.
1. C:\doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [4]:
import os
os.chdir("C:/doit")

In [5]:
result = os.popen("dir")

In [6]:
print(result.read())

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: FEF4-DFE1

 C:\doit 디렉터리

2023-03-06  오후 10:20    <DIR>          .
2023-03-03  오후 12:41    <DIR>          .ipynb_checkpoints
2023-02-14  오후 08:22             9,716 02장 연습문제.ipynb
2023-02-15  오후 11:31             6,753 03장 연습문제.ipynb
2023-02-16  오후 11:05            18,794 04-1 함수.ipynb
2023-02-17  오후 08:42            45,162 04-2,3,4 파이썬의 입력과 출력.ipynb
2023-02-17  오후 09:35            17,127 04장 연습문제.ipynb
2023-03-06  오후 08:46            71,930 05-1 클래스.ipynb
2023-03-06  오후 08:46           142,687 05-2 모듈.ipynb
2023-03-06  오후 08:46            58,302 05-3 패키지.ipynb
2023-03-06  오후 08:46            12,655 05-4 예외 처리.ipynb
2023-03-06  오후 10:15            39,429 05-5 내장함수.ipynb
2023-03-06  오후 08:46        33,030,619 05-6 표준 라이브러리.ipynb
2023-03-02  오후 09:01            17,494 05-7 외부 라이브러리.ipynb
2023-03-06  오후 10:20             7,541 05장 연습문제.ipynb
2023-02-14  오후 08:05           124,739 2.자료형.ipynb
2023-02-15  오후 11:06        49,063,643 3. 제어문.ipynb
2023-03-01  오후 06:57                16 a.txt
2023-03-01  오후 07:56                30 b.txt
2023-03-01  오후 07:56                29 c.txt
2023-02-17  오후 08:28                30 cat.txt
2023-02-15  오후 10:31               550 coffee.py
2023-03-01  오후 07:56                28 d.txt
2023-02-21  오후 08:12    <DIR>          game
2023-01-19  오후 04:27                33 hello.py
2023-01-19  오후 04:03         3,022,208 jump2python.pdf
2023-02-15  오후 10:46               235 marks1.py
2023-02-15  오후 10:49               331 marks2.py
2023-02-21  오후 03:52               151 mod1.py
2023-02-21  오후 04:06                68 modtest.py
2023-02-17  오후 09:32               130 myargv.py
2023-03-01  오후 08:47                58 myinfo.json
2023-02-21  오후 04:09    <DIR>          mymod
2023-03-01  오후 08:00               429 mytext.zip
2023-02-17  오후 08:35                71 sys1.py
2023-02-17  오후 08:39                88 sys2.py
2023-02-28  오후 09:34                 0 test
2023-03-01  오후 07:09                40 test.txt
2023-02-21  오후 04:06    <DIR>          __pycache__
2023-02-17  오후 08:25               343 새파일.txt
              35개 파일          85,691,459 바이트
               5개 디렉터리  125,094,555,648 바이트 남음

## Q10. 파일 확장자가.py 인 파일만 찾기

In [8]:
import glob
glob.glob("C:/doit/*.py")

['C:/doit\\coffee.py',
 'C:/doit\\hello.py',
 'C:/doit\\marks1.py',
 'C:/doit\\marks2.py',
 'C:/doit\\mod1.py',
 'C:/doit\\modtest.py',
 'C:/doit\\myargv.py',
 'C:/doit\\sys1.py',
 'C:/doit\\sys2.py']

## Q11. 날짜 표시하기

In [11]:
import time

time.strftime("%Y/%m/%d %H:%M:%S")

'2023/03/06 22:33:31'

## Q12. 로또 번호 생성하기

random 모듈을 사용하여 로또 번호 (1~45 사이의 숫자 6 개) 를 생성해 보자 (단 중복된 숫자가 있으면 안
됨)

In [20]:
import random

lotto = range(1,46)
random.sample(lotto, 6)

[14, 13, 40, 20, 2, 33]

In [14]:
import random

result = []
while len(result) < 6:
    num = random.randint(1,45)
    if num not in result:
        result.append(num)
        
print(result)

[9, 38, 36, 29, 34, 27]

## Q13. 누나는 영철이보다 며칠 더 먼저 태어났을까?
영철이 누나의 생일은 1995 년 11 월 20 일이고 영철이의 생일은 1998 년 10 월 6 일이다. 영철이 누나는
영철이보다 며칠 더 먼저 태어났을까?

In [24]:
import datetime

sister = datetime.date(1995, 11, 20)
yc = datetime.date(1998, 10, 6)

diff = yc - sister
print(diff.days)

1051

## Q14. 기록순으로 정렬하기

In [25]:
data = [('윤 서 현', 15.25),
        ('김 예 지', 13.31),
        ('박 예 원', 15.34),
        ('송 순 자', 15.57),
        ('김 시 우', 15.48),
        ('배 숙 자', 17.9),
        ('전 정 웅', 13.39),
        ('김 혜 진', 16.63),
        ('최 보 람', 17.14),
        ('한 지 영', 14.83),
        ('이 성 호', 17.7),
        ('김 옥 순', 16.71),
        ('황 민 지', 17.65),
        ('김 영 철', 16.7),
        ('주 병 철', 15.67),
        ('박 상 현', 14.16),
        ('김 영 순', 14.81),
        ('오 지 아', 15.13),
        ('윤 지 은', 16.93),
        ('문 재 호', 16.39)]

In [26]:
from operator import itemgetter

sorted(data, key=itemgetter(1))

[('김 예 지', 13.31),
 ('전 정 웅', 13.39),
 ('박 상 현', 14.16),
 ('김 영 순', 14.81),
 ('한 지 영', 14.83),
 ('오 지 아', 15.13),
 ('윤 서 현', 15.25),
 ('박 예 원', 15.34),
 ('김 시 우', 15.48),
 ('송 순 자', 15.57),
 ('주 병 철', 15.67),
 ('문 재 호', 16.39),
 ('김 혜 진', 16.63),
 ('김 영 철', 16.7),
 ('김 옥 순', 16.71),
 ('윤 지 은', 16.93),
 ('최 보 람', 17.14),
 ('황 민 지', 17.65),
 ('이 성 호', 17.7),
 ('배 숙 자', 17.9)]

## Q15. 청소 당번 2 명 뽑기
다음 4 명의 학생 중 청소 당번 2 명을 뽑을수 있는 경우의 수를 모두 나열하시오.

In [27]:
students = ['강백호', '송태섭', '정대만','서태웅']

import itertools

list(itertools.combinations(students,2))

[('강백호', '송태섭'),
 ('강백호', '정대만'),
 ('강백호', '서태웅'),
 ('송태섭', '정대만'),
 ('송태섭', '서태웅'),
 ('정대만', '서태웅')]

## Q16. 문자열 나열하기

"abcd"문자열을 나열하는 경우의 수를 모두 출력하시오.

In [30]:
import itertools

for a,b,c,d in itertools.permutations(['a','b','c','d'],4):
    print(a+b+c+d)

abcd
abdc
acbd
acdb
adbc
adcb
bacd
badc
bcad
bcda
bdac
bdca
cabd
cadb
cbad
cbda
cdab
cdba
dabc
dacb
dbac
dbca
dcab
dcba

## Q17. 5명에게 할일 부여하기

다음 5명이 있다.

['채치수','정대만','송태섭','서태웅','강백호']

그리고 해야 할 일은 3가지가 있다.
['청소','공닦기','빨래']

5 명을 무작위로 섞어 앞의 3 명에게 차례로 해야할 일인 ["청소", "빨래", "공닦기"]를 지정하고
나머지 2 명에게는 “휴식” 을 지정할 수 있는 프로그램을 작성하시오.

In [47]:
import random 
import itertools

students = ["채치수","정대만","송태섭","서태웅","강백호"]
do = ["청소","빨래","공닦기"]

random.shuffle(students) # 무작위로 섞는다.

result = itertools.zip_longest(students,do, fillvalue = "휴식")
for r in result:
    print(r)

('송태섭', '청소')
('채치수', '빨래')
('강백호', '공닦기')
('서태웅', '휴식')
('정대만', '휴식')

## Q18. 벽에 타일 붙이기 

가로의 길이는 200cm 이고 세로의 길이는 80cm 인 벽이 있다. 이 벽에 가능한 한 큰 정사각형 모양
의 타일을 붙이려고 한다. 이때 붙이려는 타일 한 선의 길이와, 붙이는데 필요한 타일의 개수를 구하시오.

In [48]:
import math

math.gcd(200,80)

40

In [50]:
num = (200/40)*(80/40)
print(num)

10.0

In [54]:
import math

width = 200
height = 80

square_size = math.gcd(200, 80)
print("타일 한 선의 길이: {}cm".format(square_size))

width_count = width/square_size
height_count = height/square_size

print("필요한 타일의 갯수: {}개".format(int(width_count*height_count)))

타일 한 선의 길이: 40cm
필요한 타일의 갯수: 10개