# 2.자료형

1. 숫자형 자료형
2. 문자열 자료형
3. 리스트 자료형
4. 튜플 자료형
5. 딕셔너리 자료형
6. 집합 자료형
7. 불 자료형
8. 변수

## 02-1 숫자형

### 정수형(Integer)

In [1]:
a = 123
a = -178
a = 0

### 실수형(Floating-point) : 소수점이 포함된 숫자

In [2]:
a = 1.2
a = -3.45

In [3]:
a = 4.24E10 #컴퓨터식 지수 표현 방식 4.24*10^10 의미한다.

In [4]:
a

42400000000.0

### 8진수와 16진수

8 진수 (Octal) 를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O) 로 시작하
면 된다.

In [5]:
a = 0o177

In [6]:
a

127

16 진수 (Hexadecimal) 를 만들기 위해서는 0x 로 시작하면 된다.

In [7]:
a = 0x8ff
b = 0xABC

In [8]:
a

2303

In [9]:
b

2748

## 숫자형을 활용하기 위한 연산자

### 사칙연산

In [11]:
a = 3
b = 4

In [12]:
a+b

7

In [13]:
a-b

-1

In [14]:
a*b

12

In [15]:
a/b

0.75

#### 제곱을 나타내는 ** 연산자

In [16]:
a = 3
b = 4
a ** b

81

#### 나눗셈 후 나머지를 반환하는 % 연산자

In [17]:
7%3

1

#### 나눗셈 후 몫을 반환하는 // 연산자

In [18]:
7/4

1.75

In [19]:
7 // 4

1

## 02-2 문자열 자료형


### 문자열(String)이란?
문자, 단어 등으로 구성된 문자들의 집합

In [20]:
"Life is too short, You need Python"
"a"
"123"

'123'

### 문자열은 어떻게 만들고 사용할까?

#### 1. 큰따옴표(")로 양쪽 둘러싸기

In [21]:
"Hello World"

'Hello World'

#### 2. 작은따옴표(')로 양쪽 둘러싸기

In [22]:
'Python is fun'

'Python is fun'

#### 3. 큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기

In [23]:
"""Life is too short, You need python"""

'Life is too short, You need python'

#### 4. 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

In [24]:
'''Life is too short, You need python'''

'Life is too short, You need python'

#### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

##### 1. 문자열에 작은따옴표 (') 포함시키기

In [25]:
"Python's favorite food is perl"

"Python's favorite food is perl"

In [26]:
food = "Python's favorite food is perl"

In [27]:
food

"Python's favorite food is perl"

In [28]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (3264339671.py, line 1)

##### 2. 문자열에 큰따옴표('') 포함시키기

In [29]:
say = '"Python is very easy."he said.'

In [30]:
say

'"Python is very easy."he said.'

##### 3. 백슬래시(\)를 사용해서 작은따옴표(')와 큰따옴표(")를 문자열에 포함시키기

In [31]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [32]:
food

"Python's favorite food is perl"

In [33]:
say

'"Python is very easy." he says.'

#### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [34]:
LIfe is too short
You need python

SyntaxError: invalid syntax (3684432950.py, line 1)

##### 1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [49]:
 multiline = "Life is too short\nYou need python"

In [51]:
print(multiline)

Life is too short
You need python

##### 2. 연속된 작은따옴표 3개(''') 또는 큰 따옴표 (""") 사용하기

In [56]:
multiline = '''Life is too short
You need python'''

In [57]:
print(multiline)

Life is too short
You need python

In [62]:
multiline = """
Life is too short
You need python"""

In [63]:
print(multiline)

Life is too short
You need python

### 이스케이프 코드란?

| 코드 | 설명                                                    |
|----- |---------------------------------------------------------|
|\n    |  문자열 안에서 줄을 바꿀 때 사용                        |
|\t    | 문자열 사이에 탭 간격을 줄 때 사용                      |
|\\    |문자 \를 그대로 표현할 때 사용                           |
|\'    |작은따옴표 (') 를 그대로 표현할 때 사용                  |
|\"    |큰따옴표 (") 를 그대로 표현할 때 사용                    |
|\r    |캐리지 리턴 (줄 바꿈 문자, 현재 커서를 가장 앞으로 이동) |
|\f    |폼 피드 (줄 바꿈 문자, 현재 커서를 다음 줄로 이동)       |
|\a    |벨 소리 (출력할 때 PC 스피커에서 ‘삑’ 소리가 난다)     |
|\b    |백 스페이스                                              
|\000  |널 문자

이중에서 활용빈도가 높은 것은 \n, \t, \\, \', \"이다. 나머지는 프로그램에서 잘 사용하지 않는다.

### 문자열 연산하기

#### 문자열 더해서 연결하기(Concatenation)

In [66]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

#### 문자열 곱하기

In [67]:
a = "python"
a * 2

'pythonpython'

#### 문자열 곱하기 응용

In [68]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

#### 문자열 길이 구하기

In [69]:
a = "Life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱

인덱싱 (Indexing) 이란 무엇인가를 “가리킨다” 는 의미이고, 슬라이싱 (Slicing) 은 무엇인가를 “잘라낸
다” 는 의미이

#### 문자열 인덱싱이란?

In [70]:
a = "Life is too short, You need Python"

In [71]:
a[3]

'e'

“파이썬은 0 부터 숫자를 센다.”

In [73]:
print(a[0])
print(a[2])
print(a[10])

L
f
o

#### 문자열 인덱싱 활용하기

In [74]:
a = "Life is too short, You need Python"

In [75]:
a[-0]

'L'

In [76]:
a[-2]

'o'

In [77]:
a[-5]

'y'

#### 문자열 슬라이싱이란?

In [79]:
a = "Life is too short, You need Python"
b = a[0]+a[1]+a[2]+a[3]
print(b)

Life

In [80]:
a[0:4]

'Life'

In [81]:
a[5:7]

'is'

In [84]:
#a[시작 번호: 끝 번호] 에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.
a[19:]

'You need Python'

In [85]:
#a[시작 번호: 끝 번호] 에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아낸다.
a[:17]

'Life is too short'

In [87]:
#a[시작 번호: 끝 번호] 에서 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지를 뽑아낸다.
a[:]

'Life is too short, You need Python'

In [88]:
a[19:-7]

'You need'

#### 슬라이싱으로 문자열 나누기

In [89]:
a = "20230119Sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20230119
Sunny

In [90]:
year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2023
0119
Sunny

### [“Pithon” 이라는 문자열을 “Python” 으로 바꾸려면?]

In [91]:
a = "Pithon"

In [93]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

하지만 결과는 어떻게 나올까?
당연히 오류가 발생한다. 왜냐하면 문자열의 요솟값은 바꿀 수 있는 값이 아니기 때문이다 (문자
열 자료형은 그 요솟값을 변경할 수 없다. 그래서 immutable 한 자료형이라고도 부른다).
슬라이싱 기법을 사용해서 문자열 바꿔줘야함!

In [94]:
a[0] + "y" + a[2:]

'Python'

### 문자열 포매팅

문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것이 바로 문자열 포매팅 기법이다.

문자열 포매팅이란 문자열 안에 어떤 값을 삽입하는 방법이다.

#### 1. 숫자 바로 대입

In [3]:
"I eat %d apples." %3

'I eat 3 apples.'

#### 2. 문자열 바로 대입

In [6]:
"I eat %s apples." %"five" 
# 문자열을 대입할 때는 앞에서 배운 것처럼 큰따옴표나 작은따옴표를 반드시 써주어야 한다.

'I eat five apples.'

#### 3. 숫자 값을 나타내는 변수로 대입

In [7]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

#### 4. 2개 이상의 값 넣기

In [10]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

### 문자열 포맷 코드

| 코드 | 설명                                                    |
|----- |---------------------------------------------------------|
|%s    |문자열(String)                      |
|%c    |문자 1개(character)                     |
|%d    |정수(Integer)                           |
|%f    |부동소수(floating-point)                |
|%o    |8 진수                   |
|%x    |16 진수 |
|%%    |Literal %(문자%자체)     |

%s 포맷 코드는 어떤 형태의 값이든 변환해 넣을 수 있다.

In [40]:
"I have %s apples." %3

'I have 3 apples.'

In [41]:
"rate is %s" %3.234

'rate is 3.234'

### [포매팅 연산자%d 와% 를 같이 쓸 때는%% 를 쓴다]

In [42]:
"Error is %d%." %98

ValueError: incomplete format

In [43]:
"Error is %d%%" %98

'Error is 98%'

### 포맷 코드와 숫자 함께 사용하기

#### 1. 정렬과 공백

In [44]:
"%10s" %"hi"
#%10s는 전체 길이가 10 개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미

'        hi'

In [45]:
"%-10sjane" %"hi"
#hi 를 왼쪽으로 정렬하고 나머지는 공백으로 채웠음을 볼 수 있다.

'hi        jane'

#### 2. 소수점 표현하기

In [46]:
"%0.4f" %3.42134234
#3.42134234 를 소수점 네 번째 자리까지만 나타내고 싶은 경우에는 위와 같이 사용

'3.4213'

In [47]:
"%10.4f" %3.42134234

'    3.4213'

### format 함수를 사용한 포매팅

#### 숫자 바로 대입하기

In [2]:
"I eat {0} apples".format(3)

'I eat 3 apples'

#### 문자열 바로 대입하기

In [3]:
"I eat {0} apples".format("five")

'I eat five apples'

#### 숫자 값을 가진 변수로 대입하기

In [5]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

#### 2개 이상의 값 넣기

In [6]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

#### 이름으로 넣기

In [7]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 인덱스와 이름을 혼용해서 넣기

In [8]:
 "I ate {0} apples. so I was sick for {day} days.".format(10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 왼쪽 정렬

In [9]:
"{0:<10}".format("hi")

'hi        '

In [11]:
"%-10s" %"hi"

'hi        '

#### 오른쪽 정렬

In [12]:
"{0:>10}".format("hi")

'        hi'

In [13]:
"%10s" %"hi"

'        hi'

#### 가운데 정렬

In [14]:
"{0:^10}".format("hi")

'    hi    '

#### 공백 채우기

In [15]:
"{0:=^10}".format("hi")

'====hi===='

In [16]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

#### 소수점 표현하기

In [18]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [20]:
"%0.4f"%y

'3.4213'

In [21]:
"{0:10.4f}".format(y)

'    3.4213'

#### {또는} 문자 표현하기

In [24]:
"{{ and }}".format()

'{ and }'

### f 문자열 포매팅

파이썬 3.6버전부터 f 문자열 포매팅 사용가능

In [26]:
name = '한가희'
age = 29 
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 한가희입니다. 나이는 29입니다.'

In [28]:
age = 29
f'나는 내년이면 {age+1}살이 된다..ㅠㅠ..'

'나는 내년이면 30살이 된다..ㅠㅠ..'

In [30]:
#딕셔너리 사용
d = {'name':'한가희', 'age':29}
f'나의 이름은 {d["name"]}입니다. 나이는{d["age"]}입니다.'

'나의 이름은 한가희입니다. 나이는29입니다.'

#### 왼쪽 정렬

In [31]:
f'{"hi":<10}'

'hi        '

#### 오른쪽 정렬

In [32]:
f'{"hi":>10}'

'        hi'

#### 가운데 정렬

In [33]:
f'{"hi":^10}'

'    hi    '

#### 공백 채우기

In [35]:
f'{"hi":=^10}' #가운데 정렬하고 공백 '='로 채우기

'====hi===='

In [36]:
f'{"hi":!<10}' #왼쪽 정렬하고 공백 '!'로 채우기

'hi!!!!!!!!'

#### 소수점 표현

In [38]:
y = 3.42134234
f'{y:0.4f}' #소수점 4자리까지만 표현

'3.4213'

In [39]:
f'{y:10.4f}' #소수점 4자리까지 표현하고 총 자리수 10으로 맞춤

'    3.4213'

### 문자열 관련 함수들(=문자열의 내장 함수)

#### 문자 개수 세기 (count)

In [49]:
a = "hobby"
a.count('b') #문자열 중 문자b의 개수 리턴

2

#### 위치 알려주기 1 (find)

In [54]:
a = "Python is the best choice"
a.find('b') #문자열 중 문자b가 처음으로 나온 위치 반환

14

In [55]:
a.find('k') #만약 찾는 문자나 문자열이 존재하지 않는다면 -1 반환

-1

#### 위치 알려주기 2 (index)

In [56]:
a = "Life is too short"
a.index('t')

8

In [58]:
a.index('k')
#앞의 find함수와 달리 문자열 안에 존재하지 않는 문자를 찾으면 오류 발생

ValueError: substring not found

#### 문자열 삽입 (join)

In [60]:
",".join("abcd") #abcd문자열 사이에 ','삽입

'a,b,c,d'

In [62]:
#join은 문자열뿐만 아니라 리스트나 튜플에도 입력으로 사용할 수 있다.
",".join(['a', 'b','c','d'])

'a,b,c,d'

#### 소문자를 대문자로 바꾸기 (upper)

In [68]:
a = 'hi'
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기 (lower)

In [65]:
a = "HI"
a.lower()

'hi'

#### 왼쪽 공백 지우기 (lstrip)

In [66]:
a = " hi "
a.lstrip()

'hi '

#### 오른쪽 공백 지우기 (rstrip)

In [67]:
a = " hi "
a.rstrip()

' hi'

#### 양쪽 공백 지우기 (strip)

In [69]:
a = " hi "
a.strip()

'hi'

#### 문자열 바꾸기 (replace)

In [72]:
a = 'Life is too short'
a.replace("Life",'Your leg') #ㅋㅋㅋ

'Your leg is too short'

#### 문자열 나누기(split)

In [73]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [77]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 02-3 리스트(list) 자료형

### 리스트의 인덱싱과 슬라이싱

#### 리스트의 인덱싱

In [1]:
a = [1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
a[0]

1

In [4]:
a[0]+a[2]

4

In [5]:
a[-1]

3

In [6]:
a = [1,2,3,['a','b','c']]

In [7]:
a[-1]

['a', 'b', 'c']

In [8]:
a[3]

['a', 'b', 'c']

In [9]:
a[-1][0]

'a'

In [10]:
a[-1][1]

'b'

In [11]:
a[-1][2]

'c'

#### [삼중 리스트에서 인덱싱하기]

In [12]:
a = [1,2,['a','b',['Life','is']]]

In [14]:
a[2][2][0]

'Life'

#### 리스트의 슬라이싱

In [15]:
ㅁ = [1,2,3,4,5]

In [16]:
ㅁ[0:2]

[1, 2]

In [18]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]

In [19]:
b

[1, 2]

In [20]:
c

[3, 4, 5]

#### [중첩된 리스트에서 슬라이싱하기]

In [21]:
a = [1,2,3,['a','b','c'],4,5]

In [22]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [23]:
a[3][:2]

['a', 'b']

### 리스트 연산하기

#### 리스트 더하기(+)

In [24]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

#### 리스트 반복하기(*)

In [25]:
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 리스트 길이구하기

In [27]:
a = [1,2,3,4,5,6,7,8,9]
len(a)

9

In [29]:
a = [1,2,3]
str(a[2])+ "hi"

'3hi'

### 리스트의 수정과 삭제

#### 리스트에서 값 수정하기

In [30]:
a = [1,2,3]
a[2] = 4 
a

[1, 2, 4]

#### del 함수 사용해 리스트 요소 삭제하기

In [31]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [33]:
a = [1,2,3,4,5,6,7,8,9]
del a[2:]
a

[1, 2]

### 리스트 관련 함수들

#### 리스트에 요소 추가 (append)

In [34]:
a = [1,2,3]
a.append(4)

In [35]:
a

[1, 2, 3, 4]

In [36]:
a.append([5,6])

In [37]:
a

[1, 2, 3, 4, [5, 6]]

#### 리스트 정렬 (sort)

In [38]:
a = [1,5,2,4,3]
a.sort()

In [39]:
a

[1, 2, 3, 4, 5]

In [40]:
a = ['a','d','c','b']
a.sort()

In [41]:
a

['a', 'b', 'c', 'd']

#### 리스트 뒤집기 (reverse) 
현재의 리스트를 그대로 거꾸로 뒤집는다.

In [42]:
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

#### 인덱스 반환 (index)

In [43]:
a = [1,2,3]
a.index(3)

2

In [44]:
a.index(1)

0

#### 리스트에 요소 삽입 (insert)

In [45]:
a = [1,2,3]
a.insert(0,4)

In [46]:
a

[4, 1, 2, 3]

In [47]:
a.insert(4,5)

In [48]:
a

[4, 1, 2, 3, 5]

#### 리스트 요소 제거 (remove)

In [54]:
a=[1,2,3,1,2,3]

In [55]:
a.remove(3)

In [57]:
a #a가 3이라는 값을 2개 가지고 있을 경우 첫 번째 3만 제거되는 것을 알 수 있다.

[1, 2, 1, 2, 3]

In [58]:
a.remove(3)

In [59]:
a

[1, 2, 1, 2]

#### 리스트 요소 끄집어내기 (pop)
pop()은 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제한다.

In [60]:
a = [1,2,3]
a.pop()

3

In [61]:
a

[1, 2]

pop(x)는 리스트의 x번째 요소를 리턴하고 그 요소는 삭제한다.

In [62]:
a = [1,2,3]
a.pop(0)

1

In [63]:
a

[2, 3]

#### 리스트에 포함된 요소 x의 개수 세기 (count)

In [64]:
a = [1,2,3,4,5,1,2,3,1]
a.count(1)

3

#### 리스트 확장 (extend)

In [65]:
a = [1,2,3]
a.extend([4,5])

In [66]:
a

[1, 2, 3, 4, 5]

In [67]:
b=[6,7]
a.extend(b)

In [68]:
a

[1, 2, 3, 4, 5, 6, 7]

In [69]:
a = [1,2,3]
a += [4,5]

In [70]:
a

[1, 2, 3, 4, 5]

## 02-4 튜플 자료형
- 리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다.
- 리스트는 요소 값의 생성,삭제,수정이 가능하지만 튜플은 요소값을 바꿀 수 없다.

In [71]:
t1 = ()
t2 = (1,) #단지 1개의 요소를 가질 때 요소 뒤에 콤마(,)를 !반드시! 붙여야한다.
t3 = (1,2,3)
t4 = 1,2,3 #괄호() 생략가능
t5 = ('a','b',('ab','cd'))

### 튜플의 요소값을 지우거나 변경하려고 하면 오류뜸!

#### 1. 튜플 요소값을 삭제하려 할 때

In [72]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

#### 2. 튜플 요소값을 변경하려 할 때

In [73]:
t1 = (1,2, 'a','b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

리스트는 가능하당...

### 튜플 다루기

#### 인덱싱하기

In [1]:
t1 = (1,2,'a','b')
t1[0]

1

In [2]:
t1[2]

'a'

In [3]:
t1[1:]

(2, 'a', 'b')

#### 튜플 더하기

In [4]:
t1 = (1,2, 'a','b')
t2 = (3,4)
t3 = t1+t2
t3

(1, 2, 'a', 'b', 3, 4)

#### 튜플 곱하기

In [6]:
t2 = (3,4)
t3 = t2 * 2 
t3

(3, 4, 3, 4)

#### 튜플 길이 구하기

In [8]:
t1 = (1,2,'a','b','c''d')
len(t1)

5

## 02-5 딕셔너리 자료형

딕셔너리는 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다. {Key:Value}

In [9]:
dic = {"name":'가희', 'phone':'010-1234-5678', 'birth':'0506'}

In [10]:
dic

{'name': '가희', 'phone': '010-1234-5678', 'birth': '0506'}

In [11]:
a = {1: 'hi'}
a

{1: 'hi'}

In [13]:
# Value에 리스트도 넣을 수 있음!
a = {'a':[1,2,3]}

### 딕셔너리 쌍 추가, 삭제하기

#### 딕셔너리 쌍 추가하기

In [14]:
a = {1:'a'}

In [15]:
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [18]:
a['name'] = '가희'
a

{1: 'a', 2: 'b', 'name': '가희'}

In [19]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': '가희', 3: [1, 2, 3]}

#### 딕셔너리 요소 삭제하기

In [20]:
del a[1]
a

{2: 'b', 'name': '가희', 3: [1, 2, 3]}

### 딕셔너리 활용

In [21]:
{"김연아":"피겨스케이팅", "류현진":"야구","손흥민":"축구"}

{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구'}

#### 딕셔너리에서 Key 사용해 Value 얻기

In [22]:
grade = {'혜지':10, '가희':99}
grade['혜지']

10

In [23]:
grade['가희']

99

In [28]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [25]:
a[2]

'b'

In [32]:
a = {'a':1,'b':2}
a['a']

1

In [33]:
a['b']

2

In [34]:
dic = {"name":'가희', 'phone':'010-1234-5678', 'birth':'0506'}

In [35]:
dic['name']

'가희'

In [36]:
dic['phone']

'010-1234-5678'

In [37]:
dic['birth']

'0506'

#### 딕셔너리 만들 때 주의사항
딕셔너리에서 Key값은 고유한 값이므로 중복되는 Key값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다.

In [40]:
 a = {1:'a', 1:'b'}

In [42]:
a #1:'a' 무시됨

{1: 'b'}

##### Key에 리스트 쓸 수 없다! but 튜플은 Key로 쓸 수 있다!!!<br>
딕셔너리의 Key로 쓸 수 있느냐 없느냐는 Key가 변하는 (mutable)값인지
변하지 않는 (immutable)값인지에 달려있다.
리스트는 값이 변할 수 있기 때문에 Key로 쓸 수 없다!!!

단, Value에는 변하는 값이든 변하지 않는 값이든 상관없이 아무 값이나 넣을 수 있다.

In [44]:
a = {[1,2]:'hi'}

TypeError: unhashable type: 'list'

### 딕셔너리 관련 함수

####  key 리스트 만들기 (keys)

In [45]:
a = {"name":'가희', 'phone':'010-1234-5678', 'birth':'0506'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [46]:
for k in a.keys():
    print(k)

name
phone
birth

In [47]:
list(a.keys())

['name', 'phone', 'birth']

#### Value 리스트 만들기 (values)

In [48]:
a.values()

dict_values(['가희', '010-1234-5678', '0506'])

#### Key,Value 쌍 얻기(items)

In [49]:
a.items()

dict_items([('name', '가희'), ('phone', '010-1234-5678'), ('birth', '0506')])

#### Key:Value쌍 모두 지우기 (clear)

In [51]:
a.clear()
a

{}

#### Key로 Value얻기 (get)

In [55]:
a = {"name":'가희', 'phone':'010-1234-5678', 'birth':'0506'}
a.get("name")

'가희'

In [56]:
a.get("phone")

'010-1234-5678'

In [57]:
print(a.get('nokey'))

None

In [58]:
a.get('nokey','foo')

'foo'

#### 해당 Key가 딕셔너리 안에 있는지 조사하기 (in)

In [59]:
a = {"name":'가희', 'phone':'010-1234-5678', 'birth':'0506'}

In [60]:
'name' in a

True

In [61]:
'email' in a

False

## 02-6 집합(set) 자료형

In [63]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [64]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

### 집합 자료형의 특징
- 중복을 허용하지 않는다.
- 순서가 없다.(Unordered)

중복을 허용하지 않는 특징 때문에 set은 자료형의 중복을 제거하기 위한 필터로 종종 사용된다.<br>

리스트나 튜플을 순서가 있기(ordered)때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set자료형은 순서가 없기(unordered)때문에 인덱싱으로 값을 얻을 수 없다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다. 

만약 set자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환 후 해야한다.

In [65]:
s1 = set([1,2,3])
l1 = list(s1)

In [66]:
l1

[1, 2, 3]

In [67]:
l1[0]

1

In [70]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [69]:
t1[2]

3

### 교집합,합집합,차집합 구하기

In [71]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

#### 1. 교집합

In [72]:
s1 & s2

{4, 5, 6}

In [73]:
s1.intersection(s2)

{4, 5, 6}

#### 2. 합집합

In [74]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 3. 차집합

In [76]:
s1 - s2

{1, 2, 3}

In [77]:
s2 - s1

{7, 8, 9}

In [78]:
s1.difference(s2)

{1, 2, 3}

In [79]:
s2.difference(s1)

{7, 8, 9}

### 집합 자료형 관련 함수

#### 값 1개 추가하기 (add)

In [80]:
s1 = set([1,2,3])
s1.add(4)

In [81]:
s1

{1, 2, 3, 4}

#### 값 여러개 추가하기 (update)

In [82]:
s1 = set([1,2,3])
s1.update([4,5,6])

In [84]:
s1

{1, 2, 3, 4, 5, 6}

#### 특정 값 제거하기(remove)

In [85]:
s1 = set([1,2,3])
s1.remove(2)

In [86]:
s1

{1, 3}

## 02-7 불(bool) 자료형

불(bool)자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다. 

- True : 참
- False : 거짓

In [87]:
a = True
b = False

In [88]:
type(a)

bool

In [89]:
type(b)

bool

In [90]:
1 == 1

True

In [91]:
2 > 1

True

In [92]:
2 < 1

False

### 자료형의 참과 거짓

| 값   |  참 or 거짓                                                   |
|----- |---------------------------------------------------------|
|"python" | 참                     |
|""    | 거짓                     |
|[1,2,3]    | 참                           |
|[ ]    | 거짓                |
|(1,2,3)    |참                   |
|( )    |거짓 |
|{'a':1}    |참     |
|{ }    | 거짓 |
|1     | 참    |
|0     | 거짓   |
|None  | 거짓   |

In [94]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [95]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [96]:
if [1,2,3]:
    print("참")
else:
    print("거짓")

참

### 불 연산

In [97]:
bool('python')

True

In [98]:
bool('')

False

In [99]:
bool([1,2,3])

True

In [100]:
bool([])

False

In [101]:
bool(0)

False

In [102]:
bool(4)

True

## 02-8 자료형의 값을 저장하는 공간, 변수

In [103]:
a = 1
b = "python"
c = [1,2,3]

a,b,c를 변수라고 함. 
변수를 만들 때는 위 예처럼 =(assignment)기호를 사용한다.

다른 프로그래밍 언어인 C나 JAVA에서는 변수를 만들 때 자료형의 타입을 직접 지정해야 하지만 파이썬은 변수에 저장된 값을 스스로 판단하여 자료형의 타입을 지정하기 때문에 더 편리하다.

'변수 이름' = '변수에 저장할 값'

### 변수란?

객체를 가리키는 것. 객체란 자료형의 데이터(값)을 의미하는 말이다.

In [106]:
a = [1,2,3]

[1,2,3]값을 가지는 리스트 -> 데이터(객체)가 자동으로 메모리에 생성되고 변수 a는 [1,2,3]리스트가 저장된 메모리의 주소를 가리키게 된다.<br>

a 변수가 가리키는 메모리의 주소는 다음과 같이 확인할 수 있다.

In [107]:
id(a)

2132533959552

### 리스트를 복사하고자 할 때

In [108]:
a = [1,2,3]
b = a

b변수에 a변수를 대입하면 b와 a는 같은 걸까 다른 걸까? <br>
b는 a와 완전히 동일하다고 할 수 있다.<br>
다만 [1,2,3] 이라는 리스트 객체를 참조하는 변수가 a변수 1개에서 b변수가 추가되어 2개로 늘어났다는 차이만 있을 뿐이다.

In [109]:
id(a)

2132534210432

In [110]:
id(b)

2132534210432

id(a)값이 id(b)의 값과 동일함을 확인할 수 있다. 즉 a와 b가 가리키는 대상이 동일하다는 것을 알 수 있다. 동일한 객체를 가리키고 있는지에 대해서 판단하는 파이썬 명령어를 실행해보자.

In [111]:
a is b

True

In [112]:
a[1] = 4

In [113]:
a

[1, 4, 3]

In [114]:
b

[1, 4, 3]

b 변수를 생성할 때 a 변수의 값을 가져오면서 a와 "다른 주소"를 가리키도록 만드는 방법 2가지

#### 1. [:] 이용
리스트 전체를 가리키는 [:]를 사용해서 복사

In [115]:
a = [1,2,3]
b = a[:]

In [116]:
id(a)

2132533942656

In [117]:
id(b)

2132534238720

In [118]:
a is b

False

#### 2. copy 모듈 이용

In [119]:
from copy import copy
a = [1,2,3]
b = copy(a)

In [120]:
b is a

False

###  변수를 만드는 여러 가지 방법

In [121]:
# 튜플
a, b = ('swell','coffee')

In [122]:
a

'swell'

In [123]:
b

'coffee'

In [124]:
(a,b) = 'swell','coffee'

In [125]:
a

'swell'

In [126]:
b

'coffee'

In [127]:
# 리스트
[ㄱ,ㄴ] = ['가방','나비']

In [128]:
ㄱ

'가방'

In [129]:
ㄴ

'나비'

In [132]:
# 여러개의 변수에 같은 값 대입할 수 있다.
a = b = 'python'

In [133]:
a = 3
b = 5
a,b = b,a

In [134]:
a

5

In [135]:
b

3